.fa-solid, .fas {
  color: #101949;
}

.fa-solid:hover, .fas:focus,
.fa-solid:focus, .fas:hover {
  color: #445075;
}

.operacoes {
  display: flex;
  justify-content: space-around;
}

.table-responsive {
  max-height: 650px;
  overflow-y: auto;
  width: 100%;
}

table th,
table td {
  text-align: center;
}

table thead {
  position: sticky;
  top: 0;
}

table tfoot {
  height: 100%;
  position: sticky;
  bottom: 0;
}

p.mt-4 {
  text-decoration: underline;
}
